<section class="login hidden backdrop">
    <form action="/" method="POST">
        <label for="">Username <br><input type="text" required></label>
        <br>
        <label for="">Password <br><input type="text" required></label>
        <br>
        <input type="submit" value="Login">
    </form>
</section>

<section class="register hidden backdrop">
        <form action="/" method="POST">
        <label for="">Username <br><input type="text" required autofocus></label>
        <br>
        <label for="">Password <br><input type="text" required></label>
        <br>
        <label for="">Email<br><input type="email" required></label>
        <br>
        <label for="">Phone number <br><input type="tel"></label>
        <br>
        <input type="submit" value="Sign up">
    </form>
</section>

<section class="home">
    {{#each banners}}
    <a href="/products"><img src="/img/{{this.img}}" alt="promotion-banner" class="promotion-banner"></a>
    {{/each}}

    <h1>Categories</h1>
    <section class="categories">
        {{#each categories}}
        <div class="category">
            <img src="/img/{{this.img}}" alt="Category: {{this.name}}">
            <div class="text">
                <h1 class="category-name">{{this.name}}</h1>
                <p class="catergory-desc">{{this.desc}}</p>
                <a href="/products">Explore {{this.name}}</a>
            </div>
        </div>
        {{/each}}
    </section>

    <h1>Best sellers</h1>
    <section class="best-sellers">
        {{#each bestSellers}}
        <a href="{{this.href}}" class="best-seller">
            <img title="{{this.name}}" src="/img/{{this.img}}" alt="Best Seller: {{this.name}}">
        </a>
        {{/each}}
    </section>
</section>