<section class="home">
    {{#each banners}}
    <a href="/products"><img src="/img/{{this.img}}" alt="promotion-banner" class="promotion-banner"></a>
    {{/each}}

    <h1>Categories</h1>
    <section class="categories">
        {{#each categories}}
        <div class="category">
            <img src="/img/{{this.img}}" alt="Category: {{this.name}}">
            <div class="text">
                <h1 class="category-name">{{this.name}}</h1>
                <p class="catergory-desc">{{this.desc}}</p>
                <a href="/products/{{this.name}}">Explore {{this.name}}</a>
            </div>
        </div>
        {{/each}}
    </section>

    <h1>Best sellers</h1>
    <section class="best-sellers">
        {{#each bestSellers}}
        <a href="{{this.link}}" class="best-seller">
            <img title="{{this.name}}" src="{{this.src}}" alt="Best Seller: {{this.name}}">
        </a>
        {{/each}}
    </section>
</section>