{{#if obj.category}}
<section class="products">
    {{!-- If object has category prop then it is a product --}}
    <a href="/products/{{obj.category}}">
        <h1>Category: {{obj.category}}</h1>
    </a>
    <article class="product">
        <div class="info">
            <h1 class="productName">{{obj.name}}</h1>
            <p class="productPrice"><i style="font-size:2rem" class="fas fa-dollar-sign"></i>{{obj.price}}</p>
            <p class="rating"><i style="font-size:2rem" class="fas fa-star"></i>{{obj.rating}}</p>
            {{#if obj.bestSeller}}
            <p><i style="font-size:2rem" class="fas fa-award"></i>Best Seller</p>
            {{/if}}
            <button>Order now</button>
        </div>
        <img src="{{obj.src}}" alt="Product image">
    </article>
</section>

{{else}}
{{#if obj.name}}
<h1>Category: {{obj.name}}</h1>
{{/if}}
<section id="productsPage">
<nav data-category="{{location}}" id="productsNav">
    {{#each categories}}
    <a data-category="{{this.name}}" href="/products/{{this.name}}"><p>{{this.name}}</p></a href=>
    {{/each}}
</nav>
<article class="productList">

    {{!-- If a category is given --}}
    {{#each obj.products}}
    <a href="{{this.link}}"><img title="{{this.name}}" src="{{this.src}}" alt="{{this.name}}"></a>
    {{/each}}

    {{!-- If not a category --}}
    {{#each obj}}
    <a href="{{this.link}}"><img title="{{this.name}}" src="{{this.src}}" alt="{{this.name}}"></a>
    {{/each}}
</article>
</section>
{{/if}}

